<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>POKEROL</title>

  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/webclient.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/custom.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_onboarding_v01.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_login_progress_v01.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_hotspot_editor_v01.css' %}?v=20260907-playerstate1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_scene_interaction_v01.css' %}?v=20260906-scenehotspots1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_trainer_sprite_editor_v01.css' %}?v=20260906-spritefix1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_world_editor_v01.css' %}?v=20260906-worldedit1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_event_editor_v01.css' %}?v=20260906-eventedit1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_player_sheet_v01.css' %}?v=20260907-sheet2">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_event_modal_v01.css' %}?v=20260906-eventmodal1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_console_frame_v01.css' %}?v=20260907-frame2">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_battle_shots_v01.css' %}?v=20260908-combatopen1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_battle_free_order_ui_v01.css' %}?v=20260908-attacks1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_battle_scene_editor_v01.css' %}?v=20260908-battlescene1">

  <script>
    window.$ = window.$ || function () {
      return {
        ready: function (callback) {
          if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", callback, { once: true });
          } else {
            window.setTimeout(callback, 0);
          }
        }
      };
    };
  </script>

  <script>
    function generateUID(){
      return Math.random().toString(36).substring(2,15)+Math.random().toString(36).substring(2,15);
    }
    var cuid=generateUID();
    {% if websocket_enabled %}var wsactive=true;{% else %}var wsactive=false;{% endif %}
    {% if browser_sessid %}var csessid="{{browser_sessid}}";{% else %}var csessid=false;{% endif %}
    {% if websocket_url %}
    var wsurl="{{websocket_url}}";
    {% else %}
    var wsurl=(this.location.protocol === "https:" ? "wss://" : "ws://")+this.location.host+"/ws";
    {% endif %}
  </script>

  <script src="{% static 'webclient/js/evennia.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_transport_bootstrap_v01.js' %}?v=20260910-connect3" type="text/javascript" charset="utf-8"></script>

  {% block guilib_import %}
  <script src="{% static 'webclient/js/pokerol_logout_guard_v01.js' %}?v=20260906-logout2" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_onboarding_v01.js' %}?v=20260906-identity1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_login_progress_v01.js' %}?v=20260906-loginfix4" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_auth_bridge_v02.js' %}?v=20260906-auth6" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_hotspot_editor_ui_v01.js' %}?v=20260907-playerstate1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_hotspot_editor_v01.js' %}?v=20260906-hotspotsize1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_player_editor_v01.js' %}?v=20260907-playerglobal1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_trainer_sprite_editor_v01.js' %}?v=20260906-spritefix1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_scene_action_hotspots_v01.js' %}?v=20260906-scenehotspots2" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_editor_panels_drag_v01.js' %}?v=20260906-editor3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_world_editor_v01.js' %}?v=20260906-worldedit1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_event_editor_v01.js' %}?v=20260906-eventedit2" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_session_controls_v01.js' %}?v=20260906-logout4" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_editor_input_guard_v01.js' %}?v=20260906-inputguard1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_event_modal_v01.js' %}?v=20260906-eventmodal1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_tutorial_v01.js' %}?v=20260906-oakevent3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_visual_recovery_v01.js' %}?v=20260906-visualrecovery1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_asset_manager_v01.js' %}?v=20260906-projectassets3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_project_persistence_v01.js' %}?v=20260906-projectassets3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_console_frame_v01.js' %}?v=20260906-frame1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_scene_persistence_guard_v01.js' %}?v=20260907-playerstate2" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_player_sheet_v01.js' %}?v=20260907-sheet2" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_battle_shots_v01.js' %}?v=20260908-combatopen1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_battle_free_order_ui_v01.js' %}?v=20260908-attacks1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_battle_open_guard_v01.js' %}?v=20260908-roombootstrap3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_battle_scene_editor_v01.js' %}?v=20260908-battlescene1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_battle_ui_guard_v01.js' %}?v=20260910-freeze2" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_battle_reaction_window_guard_v01.js' %}?v=20260908-reactionwindow1" type="text/javascript" charset="utf-8"></script>
  {% endblock %}

  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_gba_theme_v01.css' %}?v=20260906-firered1">
  <script src="{% static 'webclient/js/pokerol_room_transition_v01.js' %}?v=20260907-playerglobal1" type="text/javascript" charset="utf-8"></script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div id="connecting">{% block connecting %}{% endblock %}</div>
  <noscript><div id="noscript" class="err">POKEROL necesita JavaScript activado.</div></noscript>
  <div id="clientwrapper">{% block client %}{% endblock %}</div>
</body>
</html>
