<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>POKEROL</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/webclient.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/custom.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_onboarding_v01.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_login_progress_v01.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_hotspot_editor_v01.css' %}?v=20260906-editor3">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_scene_interaction_v01.css' %}?v=20260906-scenehotspots1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_trainer_sprite_editor_v01.css' %}?v=20260906-spritefix1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_world_editor_v01.css' %}?v=20260906-worldedit1">

  {% block jquery_import %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
  {% endblock %}

  <script>
    function generateUID(){
      return Math.random().toString(36).substring(2,15)+Math.random().toString(36).substring(2,15);
    }
    var cuid=generateUID();
    {% if websocket_enabled %}var wsactive=true;{% else %}var wsactive=false;{% endif %}
    {% if browser_sessid %}var csessid="{{browser_sessid}}";{% else %}var csessid=false;{% endif %}
    {% if websocket_url %}var wsurl="{{websocket_url}}";{% else %}var wsurl="ws://"+this.location.hostname+":{{websocket_port}}";{% endif %}
  </script>

  <script src="{% static 'webclient/js/evennia.js' %}" type="text/javascript" charset="utf-8"></script>

  {% block guilib_import %}
  <script src="{% static 'webclient/js/webclient_gui.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/plugins/history.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/plugins/default_in.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/plugins/default_out.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_onboarding_v01.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_login_progress_v01.js' %}?v=20260906-loginfix3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_hotspot_editor_ui_v01.js' %}?v=20260906-editor3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_hotspot_editor_v01.js' %}?v=20260906-editor4" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_player_editor_v01.js' %}?v=20260906-editor3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_trainer_sprite_editor_v01.js' %}?v=20260906-spritefix1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_scene_action_hotspots_v01.js' %}?v=20260906-scenehotspots1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_editor_panels_drag_v01.js' %}?v=20260906-editor3" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_world_editor_v01.js' %}?v=20260906-worldedit1" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'webclient/js/pokerol_editor_input_guard_v01.js' %}?v=20260906-inputguard1" type="text/javascript" charset="utf-8"></script>
  {% endblock %}

  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'webclient/css/pokerol_gba_theme_v01.css' %}?v=20260906-firered1">
  <script src="{% static 'webclient/js/pokerol_room_transition_v01.js' %}?v=20260906-gba1" type="text/javascript" charset="utf-8"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf4+1nzPfr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hK4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNmj4" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div id="connecting">{% block connecting %}{% endblock %}</div>
  <div id="noscript" class="err">POKEROL necesita JavaScript activado.</div>
  <div id="clientwrapper" class="d-none">{% block client %}{% endblock %}</div>

  <script>
    $(document).ready(function(){
      $('#noscript').remove();
      $('#clientwrapper').removeClass('d-none');
    });
  </script>
</body>
</html>