{% extends "webclient/base.html" %}
{% load static %}

{% block guilib_import %}
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_book_shell_v02.css' %}?v=20260903-output-fix">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_book_interaction_v03.css' %}?v=20260903-context-layout-fix">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_dialogue_mode_v01.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_tcg_embed_v01.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_combat_choreography_v01.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_combat_animation_v02.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_folio_layout_v01.css' %}?v=20260905-folio-icons">
<script src="{% static 'webclient/js/siza_book_client.js' %}?v=20260905-room-state-renderer" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_book_shell_v02.js' %}?v=20260905-room-assets" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_tcg_embed_v01.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_tcg_battlefield_v03.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_combat_choreography_v01.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_combat_animation_v02.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_world_tcg_transport_v01.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_room_identity_guard_v01.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_book_interaction_v04.js' %}?v=20260905-room-actions" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_room_state_renderer_v01.js' %}?v=20260905-room-state-renderer-v3-action-cap" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_location_assets_v01.js' %}?v=20260905-room-assets" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_dialogue_mode_v01.js' %}?v=20260903-dialogue-no-layout-switch" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_narrative_filter_v01.js' %}?v=20260903-output-fix" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block client %}
{% include "webclient/siza_book_shell_v02.html" %}
{% endblock %}

{% block scripts %}{% endblock %}
