{% extends "webclient/base.html" %}
{% load static %}

{% block guilib_import %}
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_book_shell_v02.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/css/siza_book_interaction_v03.css' %}">
<style id="siza-compact-header-inline-v04">
/* Served inline on purpose: this must win even when static CSS is stale/cached. */
.sizaBookClient {
    grid-template-rows: 58px minmax(0, 1fr) !important;
}
.sizaBookHeader {
    height: 58px !important;
    min-height: 58px !important;
    max-height: 58px !important;
}
.sizaHeaderCharacterPlayer {
    grid-template-columns: 48px minmax(0,1fr) !important;
    padding: 4px 8px 4px 5px !important;
}
.sizaHeaderCharacterFocus {
    grid-template-columns: minmax(0,1fr) 48px !important;
    padding: 4px 5px 4px 8px !important;
}
.sizaPortraitSlot {
    width: 42px !important;
    height: 48px !important;
}
.sizaPortraitInitial {
    font-size: 22px !important;
}
.sizaHeaderCharacterCopy {
    padding: 0 7px !important;
}
.sizaHeaderCharacterCopy small,
.sizaBookChapter small {
    margin-bottom: 1px !important;
    font-size: 6px !important;
}
.sizaHeaderCharacterCopy strong {
    font-size: 15px !important;
    line-height: 1 !important;
}
.sizaHeaderCharacterCopy > span {
    margin-top: 2px !important;
    font-size: 8px !important;
    line-height: 1 !important;
}
.sizaHeaderCharacterMeta {
    display: none !important;
}
.sizaBookChapter {
    padding: 3px 10px !important;
}
.sizaBookChapter small {
    margin-bottom: 2px !important;
}
.sizaBookChapter strong {
    font-size: 16px !important;
    line-height: 1 !important;
}
.sizaBookChapter span {
    margin-top: 2px !important;
    font-size: 8px !important;
    line-height: 1 !important;
}
.sizaConnectionBadge {
    right: 5px !important;
    bottom: -11px !important;
    padding: 2px 5px !important;
    font-size: 6px !important;
}
.sizaConnectionDot {
    width: 5px !important;
    height: 5px !important;
}
.sizaSceneTopPlaque {
    display: none !important;
}
.sizaBookScene {
    margin-top: 4px !important;
}
@media (max-width:760px) {
    .sizaBookClient { grid-template-rows: 52px minmax(0,1fr) !important; }
    .sizaBookHeader { height:52px !important; min-height:52px !important; max-height:52px !important; }
    .sizaPortraitSlot { width:36px !important; height:42px !important; }
    .sizaHeaderCharacterPlayer { grid-template-columns:40px minmax(0,1fr) !important; }
    .sizaHeaderCharacterFocus { grid-template-columns:minmax(0,1fr) 40px !important; }
}
</style>
<script src="{% static 'webclient/js/siza_book_client.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_book_shell_v02.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_world_tcg_transport_v01.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_book_interaction_v03.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'webclient/js/siza_location_assets_v02.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block client %}
{% include "webclient/siza_book_shell_v02.html" %}
{% endblock %}

{% block scripts %}{% endblock %}
